.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.colorDot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}
